.todo {
  background-color: #1f1e1f;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.create-todo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-creation{
  color: #e0ffff;
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
}

.todo-title {
  font-size: 25px;
  margin: 0;
  font-weight: 600;
  color: #fff;
}

.todo-desc {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 500;
  color: #929092;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 5px 10px;
  font-size: 30px;
  cursor: pointer;
}

.check {
  color: #008000;
}

.delete {
  color: #ff0000;
}
